main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  padding: min(1.5rem, 7%);

  gap: 1.5rem;

  margin-right: 4rem;
}

#skills span {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}
#skills > div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0 0 0;
}

.section {
  scroll-margin-top: 5rem;
}

.section > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 1.5rem;
  margin-top: 1rem;

  > div {
    flex: 1 1 260px;
    max-width: 350px;
    min-width: 220px;
    box-sizing: border-box;
  }
}

.section div > div {
  border-radius: 0.75rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#art img {
  width: 100%;
  height: auto;

  max-width: 100%;
  max-height: 320px;

  aspect-ratio: 4/3;

  border-radius: 0.5rem;
  margin-bottom: 0.5rem;

  object-fit: contain;

  display: block;
}
