@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --base-clr: #11121a;
  --accent-clr: #4e9af1;
  --text-clr: #ffffff;

  --line-clr: rgba(255, 255, 255, 0.1);
  --hover-clr: rgba(255, 255, 255, 0.22);
  --secundary-text-clr: #bbbbbb;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Poppins, 'Sogeo Ui', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--base-clr);
  color: var(--text-clr);

  display: grid;
  grid-template-columns: auto 1fr;
}

main {
  padding: min(30px, 7%);
}
main p {
  color: var(--secundary-text-clr);
  margin-bottom: 15px;
  margin-top: 5px;
}

.container {
  border: 1px solid var(--line-clr);
  border-radius: 1em;
  padding: min(3em, 15%);
  margin-bottom: 20px;
}

h2,
p {
  margin-top: 1em;
}

#sidebar {
  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  padding: 5px 1em;

  background: var(--base-clr);
  border-right: 1px solid var(--line-clr);

  /* position: fixed; */

  position: sticky;
  top: 0;
  align-self: start;
}
#sidebar ul {
  list-style: none;
}
#sidebar > ul > li:first-child {
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-end;

  .logo {
    font-weight: 600;
  }
}

#sidebar ul li.active a {
  color: var(--accent-clr);

  img {
    fill: var(--accent-clr);
  }
}

/* decoracion estetica basica. desplegable y resaltar al pasar sobre boton */
#sidebar img {
  flex-shrink: 0;
  fill: var(--text-clr);
}
#sidebar a span,
#sidebar .dropdown-btn span {
  flex-grow: 1;
}
#sidebar a:hover,
#sidebar .dropdown-btn:hover {
  background-color: var(--hover-clr);
}
#sidebar .sub-menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  > div {
    overflow: hidden;
  }
}
#sidevar .sub-menu.show {
  grid-template-rows: 0fr;
}

#sidebar a,
#sidebar .dropdown-btn,
#sidebar .logo {
  border-radius: 0.5em;
  padding: 0.85em;
  text-decoration: none;
  color: var(--text-clr);
  display: flex;
  align-items: center;
  gap: 1em;
}

.dropdown-btn {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
}

/* extra */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
iframe {
  min-height: 300px; /* Ajusta según lo que necesites */
  border: none;
}
footer {
  /* Opcional: estilos para el footer */
}
