/* Glass Sidebar Styles */
@import url('./theme.css');

.side-element {
  position: fixed;
  right: 0;
  top: 0;

  width: 60px;
  height: 100vh;

  z-index: 0;
}
#sidebar {
  box-sizing: border-box;

  height: 100vh;
  width: 250px;
  padding: 5px 1em;

  z-index: 110;

  position: sticky;
  align-self: start;

  position: fixed;
  right: 0;
  top: 0;

  /* ocultar para elementos que sobresalen */
  transition: 300ms ease-in-out;
  overflow: hidden;
  text-wrap: nowrap;
}
#sidebar.close {
  padding: 5.5px;
  width: 60px;
}
#sidebar ul {
  list-style: none;
}
#sidebar > ul > li:first-child {
  margin-bottom: 16px;

  display: flex;
  justify-content: flex-end;

  .logo {
    font-weight: 600;
  }
}
#sidebar ul li.active a {
  color: var(--accent-clr);

  img,
  svg {
    fill: var(--accent-clr);
  }
}

/* decoracion estetica basica. desplegable y resaltar al pasar sobre boton */
#sidebar a,
#sidebar .logo,
#sidebar .dropdown-btn {
  display: flex;
  align-items: center;

  /* text-decoration: none;
  color: var(--text-clr); */

  border-radius: 0.5em;
  padding: 0.85em;
  gap: 1em;
}

#sidebar img,
#sidebar svg {
  flex-shrink: 0;
  fill: var(--text-clr);
}

#sidebar a span,
#sidebar .dropdown-btn span {
  flex-grow: 1;
}

#sidebar a:hover,
#sidebar .dropdown-btn:hover {
  background-color: var(--hover-clr);
}

/* Sub menu */
#sidebar .sub-menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  > div {
    overflow: hidden;
  }
}

#sidebar .sub-menu.show {
  grid-template-rows: 1fr;
}

/* Botones */
.bottom-button {
  margin-top: auto;
}

.dropdown-btn {
  width: 100%;

  text-align: left;

  border: none;

  background: none;

  cursor: pointer;
  font: inherit;
}

#toggle-btn {
  margin-left: auto;
  padding: 0.85em;
  /* gap: 1em; */

  border: none;
  border-radius: 0.5em;

  background: none;

  cursor: pointer;

  img,
  svg {
    transition: rotate 150ms ease;
  }
}
#toggle-btn:hover {
  background-color: var(--hover-clr);
}

/* Efectos de despliege y pliege de elementos de boton toggle */
.dropdown-btn img,
.dropdown-btn svg {
  transition: 200ms ease;
}
.rotate img:last-child,
.rotate svg:last-child {
  rotate: 180deg;
}

#sidebar .sub-menu a {
  padding-left: 2em;
}
