/* Glass Sidebar Styles */
@import url('./theme.css');

#sidebar {
  grid-row: 1 / span 3;
  grid-column: 1;

  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  padding: 5px 1em;

  background-color: var(--base-clr);
  border-right: 1px solid var(--line-clr);

  position: sticky;
  align-self: start;
  top: 0;

  transition: 300ms ease-in-out;
  overflow: hidden;
  text-wrap: nowrap;
}

#sidebar ul {
  display: flex;
  flex-direction: column;

  height: 100%;
  padding: 0;
  margin: 0;

  list-style: none;
}

#sidebar > ul > li:first-child {
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-end;

  .logo {
    font-weight: 600;
  }
}

#sidebar ul li.active a {
  color: var(--accent-clr);

  img {
    fill: var(--accent-clr);
  }
}

/* decoracion estetica basica. desplegable y resaltar al pasar sobre boton */
#sidebar img {
  flex-shrink: 0;
  fill: var(--text-clr);
}

#sidebar a span,
#sidebar .dropdown-btn span {
  flex-grow: 1;
}

#sidebar a:hover,
#sidebar .dropdown-btn:hover {
  background-color: var(--hover-clr);
}

#sidebar a,
#sidebar .logo,
#sidebar .dropdown-btn {
  display: flex;
  align-items: center;

  text-decoration: none;
  color: var(--text-clr);

  border-radius: 0.5em;
  padding: 0.85em;
  gap: 1em;
}

/* Sub menu */
#sidebar .sub-menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  > div {
    overflow: hidden;
  }
}

#sidebar .sub-menu.show {
  grid-template-rows: 1fr;
}

/* Botones */
.bottom-button {
  margin-top: auto;
}

.dropdown-btn {
  width: 100%;

  text-align: left;

  border: none;

  background: none;

  cursor: pointer;
  font: inherit;
}

#toggle-btn {
  margin-left: auto;
  padding: 1em;

  border: none;
  border-radius: 0.5em;

  background: none;

  cursor: pointer;

  svg {
    transition: rotate 150ms ease;
  }
}
#toggle-btn:hover {
  background-color: var(--hover-clr);
}

/* Efectos de despliege y pliege de elementos de boton toggle */
.drop-btn svg {
  transition: 200ms ease;
}
.rotate svg:last-child {
  rotate: -180deg;
  /* animation: rotate 2s linear infinite; */
}

#sidebar .sub-menu a {
  padding-left: 20em;
}
