/* Glass Sidebar Styles */
@import url('./theme.css');

#sidebar,
.side-element {
  /* position: sticky; */
  /* align-self: start; */

  position: fixed;
  right: 0;
  top: 0;

  width: 4rem;
  height: 100vh;

  z-index: 0;
}

#sidebar {
  /* ajsute automatico por aumento de tamaño por padding */
  box-sizing: border-box;

  width: 256px;
  padding: 0.5rem 0.5rem 1rem;

  z-index: 110;

  /* ocultar para elementos que sobresalen */
  transition: 300ms ease-in-out;
  overflow: hidden;
  text-wrap: nowrap;

  ul a,
  ul button {
    padding: 0.75rem;
  }

  ul hr {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
}

/* Lista de elementos */
#sidebar ul {
  max-height: 100vh;

  list-style: none;
  scroll-behavior: smooth;
}

/* Primer elemento */
#sidebar > ul > li:first-child {
  height: 3rem;

  display: flex;
  justify-content: flex-end;

  .logo {
    font-weight: 600;
  }
}

/* elementos generales */

/* decoracion estetica basica. desplegable y resaltar al pasar sobre boton */
#sidebar a,
#sidebar .logo,
#sidebar .dropdown-btn {
  display: flex;
  align-items: center;

  text-decoration: none;

  border-radius: 0.5em;
  gap: 1em;
}

#sidebar img,
#sidebar svg {
  flex-shrink: 0;
  fill: var(--text-clr);

  background-color: var(--icon-color2);
}

#sidebar a span,
#sidebar .dropdown-btn span {
  flex-grow: 1;
}

/* Sub menu */
#sidebar .sub-menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  > div {
    overflow: hidden;
  }
}
#sidebar .sub-menu.show {
  grid-template-rows: 1fr;
}
#sidebar .sub-menu a {
  padding-left: 2em;
}

/* Botones */
button {
  border: none;
  background: none;

  cursor: pointer;
}

.dropdown-btn {
  width: 100%;

  font: inherit;
  text-align: left;
}
#toggle-btn {
  border-radius: 0.5em;
  margin-left: auto;

  img,
  svg {
    transition: rotate 150ms ease;
  }
}

/* Efectos de despliege y pliege de elementos de boton toggle */
.dropdown-btn img,
.dropdown-btn svg {
  transition: 200ms ease;
}
.rotate img:last-child,
.rotate svg:last-child {
  rotate: 180deg;
}

/* Colores */
#toggle-btn:hover,
#sidebar a:hover,
#sidebar .dropdown-btn:hover {
  background-color: var(--secondary);
  color: var(--primary);
}
#sidebar a,
#sidebar .logo,
#sidebar .dropdown-btn {
  color: var(--text-clr);
}

#sidebar ul li.active a {
  color: #5e63ff;
  img,
  svg {
    fill: #5e63ff;
    background-color: var(--icon-color);
  }
}

/* Modo plegado */
#sidebar.close {
  padding: 0.5rem;
  width: 4rem;

  span {
    display: none;
  }

  ul a {
    width: 1.5rem;
  }
  ul button {
    width: 3rem;
  }
}
