/* Global Styles */
@import url('./theme.css');
/* @import url('./theme-dark.css'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* ! Estructura basica de elementos */
html {
  font-family: Poppins, 'Sogeo Ui', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
  min-height: 100vh;
}

body {
  min-height: 100vh;
  min-height: 100dvh;

  background-color: var(--base-clr);
  color: var(--text-clr);

  display: grid;
  grid-template-columns: auto 1fr;
}

main {
  padding: min(30px, 7%);
}

main p {
  color: var(--secundary-text-clr);
  margin-bottom: 15px;
  margin-top: 5px;
}

/* ! Clases  */
.container {
  border: 1px solid var(--line-clr);
  border-radius: 1em;
  padding: min(3em, 15%);
  margin-bottom: 20px;
}

/* TODO */

/*
* sin nada, inicia con ".", inicia con "#":
  Cuando incia sin nada seleciona todos los elementos de ese tipo.
  Cuando inicia con "." seleciona todos los elementos que tienen esa clase.
  Cuando inicia con "#" seleciona el elemento que tiene ese ID.

* Clase vs id:
  Una clase (.) puede aplicarse a múltiples elementos, mientras que un ID (#) debe ser único en la página.
  Las clases son ideales para estilos reutilizables, mientras que los IDs son útiles para identificar elementos específicos.

* Cuando se usa (padre)>(hijo):
  En el selector `.main-content > main` se usa el combinador `>` para aplicar estilos
  únicamente a los elementos `main` que son hijos directos de `.main-content`,
  evitando afectar descendientes más profundos.

 * Cuando usa (selector1, selector2):
  La coma en `h2, p` agrupa selectores independientes para aplicarles las mismas reglas;
  en cambio, `main p` es un selector descendiente que significa “p dentro de main”,
  por eso no lleva coma.

 * Diferencia entre 100vh y 100dvh
 100vh:
  Es el 100% de la altura de la ventana gráfica (viewport height).
  Problema: En móviles, puede incluir la barra de direcciones, lo que a veces causa saltos o recortes.
  100dvh:
  Es el 100% de la altura dinámica de la ventana gráfica, excluyendo barras del navegador (más preciso en móviles modernos).

 */
