/* Global Styles */
@import url('./theme.css');
/* @import url('./theme-dark.css'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* ! Estructura basica de elementos */
html {
  font-family: Poppins, 'Sogeo Ui', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
  min-height: 100vh;
}

body {
  min-height: 100vh;
  min-height: 100dvh;

  background-color: var(--base-clr);
  color: var(--text-clr);

  display: grid;
  grid-template-columns: auto 1fr;
}

main {
  padding: min(30px, 7%);
}

main p {
  color: var(--secundary-text-clr);
  margin-bottom: 15px;
  margin-top: 5px;
}

/* ! Clases  */
.container {
  border: 1px solid var(--line-clr);
  border-radius: 1em;
  padding: min(3em, 15%);
  margin-bottom: 20px;
}
