@import url('theme.css');

body {
  min-height: 100vh;
  min-height: 100dvh;

  /* display: grid; */
  /* grid-template-columns: auto 1fr; */
  /* grid-template-rows: auto 1fr auto; */
}

/* Elementos generales */
.top-element {
  position: absolute;
  top: 0;

  width: 100%;
  height: 4rem;

  z-index: 0;
}

header {
  /* Fijar posision arriba */
  position: sticky;
  top: 0;

  box-sizing: border-box;

  padding: 1rem;

  /* produndidad */
  z-index: 100;

  transition: transform 0.3s ease;
}

header.hide-on-scroll {
  transform: translateY(-100%);
}

footer {
  bottom: 0;

  box-sizing: border-box;

  margin-right: 4rem;

  z-index: 90;
}

.footer-content {
  padding: 1rem;
  div {
    margin: 2.5px;
  }
}

/* ! Clases  */
.section {
  border: 1px solid var(--line-clr);
  border-radius: 1em;
  padding: min(3em, 15%);
  margin-bottom: 20px;

  h2,
  p {
    margin-top: 1em;
  }
}

.row,
.row-e {
  display: flex;
  gap: 1rem;
}
.row {
  flex-wrap: wrap;
}

.center,
.center-all {
  justify-content: center;
  text-align: center;
}

.center-all {
  align-items: center;
}

.footer-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;

  fill: var(--primary);
}
