/* Global Styles */
@import url('./theme.css');
/* @import url('./theme-dark.css'); */

body {
  min-height: 100vh;
  min-height: 100dvh;

  display: grid;
  grid-template-columns: auto 1fr;

  /* display: grid;
  grid-template-columns: 1fr; */
  /* grid-template-columns: auto 1fr; */
  /* grid-template-rows: auto 1fr auto; */
}

/* Elementos generales */
header {
  grid-row: 1;

  /* Fijar posision arriba */
  position: sticky;
  top: 0;

  padding-right: 15px;
  padding-left: 15px;

  /* produndidad */
  z-index: 100;
}

main {
  grid-row: 2;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  padding: min(30px, 7%);
}

footer {
  grid-row: 3;

  bottom: 0;

  padding-right: 15px;
  padding-left: 75px;

  z-index: 90;
}

/* ! Clases  */
.container {
  border: 1px solid var(--line-clr);
  border-radius: 1em;
  padding: min(3em, 15%);
  margin-bottom: 20px;

  h2,
  p {
    margin-top: 1em;
  }
}

.row {
  display: flex;
  padding: 15px;
  gap: 1rem;
}

.row-e {
  display: flex;
  gap: 1rem;
}

.center {
  justify-content: center;
  text-align: center;
}

.center-all {
  justify-content: center;
  text-align: center;

  align-items: center;
}

/* #sidebar.close ~ main,
#sidebar.close ~ header,
#sidebar.close ~ footer {
  margin-left: 60px;
} */
