/* @import './fonts.css';
@import './tailwind.css'; */
/* @import './theme.css'; */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

iframe {
  width: 100%;
  height: 100%;
  min-height: 300px;
  /* border: none; */
}
