@media (max-width: 800px) {
  /* ajustes */
  body {
    grid-template-columns: 1fr;
    overflow-x: hidden;
  }
  main {
    padding: 2em 1em 4rem 1em;
  }
  .container {
    border: none;
    padding: 0;
  }

  #sidebar,
  #sidebar.close {
    height: 4rem;
    width: 100%;

    border-right: none;
    border-top: 1px solid var(--line-clr);

    position: fixed;
    top: unset;

    padding: 0;
    bottom: 0;

    z-index: 110;

    > ul {
      padding: 0;
      display: grid;
      grid-auto-columns: 4rem;
      grid-auto-flow: column;
      align-items: center;
      overflow-x: scroll;
 
      text-align: center;
     

      
    }
    ul li {
      height: 100%;
    }
    ul a,
    ul .dropdown-btn {
      width: 4rem;
      height: 4rem;
      padding: 0;
      border-radius: 0;
      justify-content: center;
    }

    ul li span,
    ul li:first-child,
    .dropdown-btn svg:last-child,
    .dropdown-btn img:last-child {
      display: none;
    }

    ul li .sub-menu.show {
      position: fixed;
      bottom: 4rem;
      left: 0;
      box-sizing: border-box;
      height: 4rem;
      width: 100%;
      background-color: var(--hover-clr);
      border-top: 1px solid var(--line-clr);
      display: flex;
      justify-content: center;

      > div {
        overflow-x: auto;
      }
      li {
        display: inline-flex;
      }
      a {
        box-sizing: border-box;
        padding: 1em;
        width: auto;
        justify-content: center;
      }
    }
  }

  /* ajustes posteriores */
  .side-element,
  #sidebar hr {
    width: 0;
    height: 0;

    display: none;
  }

  main,
  footer {
    margin: 0;
    transition: margin-left 300ms ease-in-out;
  }

  footer {
    margin-bottom: 4rem;

    .row {
      gap: 0rem;
    }
  }
  .footer-content div hr {
    display: none;
  }

  main {
    padding: 0;
    padding: min(1.5rem, 7%);
  }
}
