/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* 1px = 1 */
/* 1rem = font-size: 16px; * 1 */
:root {
  --font-size: 16px;

  --background: #ffffff;
  --foreground: oklch(0.145 0 0);

  --card: #ffffff;
  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --primary: #030213;
  --primary-foreground: oklch(1 0 0);

  --secondary: oklch(0.95 0.0058 264.53);
  --secondary-foreground: #030213;

  --muted: #ececf0;
  --muted-foreground: #717182;

  --accent: #e9ebef;
  --accent-foreground: #030213;

  --destructive: #d4183d;
  --destructive-foreground: #ffffff;

  --border: rgba(0, 0, 0, 0.1);

  --input: transparent;
  --input-background: #f3f3f5;

  --switch-background: #cbced4;

  --font-weight-medium: 500;
  --font-weight-normal: 400;

  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --radius: 0.625rem;

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: #030213;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --base-clr: var(--background);

  --line-clr: var(--border);

  --accent-clr: var(--accent);
  --hover-clr: var(--accent-foreground);

  --text-clr: var(--primary);
  --secondary-text-clr: var(--secondary);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);

  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);

  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);

  --border: oklch(0.269 0 0);

  --input: oklch(0.269 0 0);

  --ring: oklch(0.439 0 0);

  --font-weight-medium: 500;
  --font-weight-normal: 400;

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);

  --base-clr: var(--background);

  --line-clr: var(--border);

  --accent-clr: var(--accent);
  --hover-clr: var(--accent-foreground);

  --text-clr: var(--primary);
  --secondary-text-clr: var(--secondary);
}

:root {
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 1.875rem; /* 30px */
  --text-4xl: 2.25rem; /* 36px */
  --text-5xl: 3rem; /* 48px */
}

* {
  margin: 0;
  padding: 0;
}

/* ! Estructura basica de elementos */
html {
  font-size: var(--font-size);

  font-family: Poppins, 'Sogeo Ui', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
  /* min-height: 100vh; */
}

h1 {
  font-size: var(--text-2xl);
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
}

h2 {
  font-size: var(--text-xl);
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
}

h3 {
  font-size: var(--text-lg);
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
}

h4 {
  font-size: var(--text-base);
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
}

label {
  font-size: var(--text-base);
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
}

button {
  font-size: var(--text-base);
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
}

input {
  font-size: var(--text-base);
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
}

/* <a> */
a {
  color: var(--primary, #030213);

  text-decoration: none;
  font-weight: var(--font-weight-medium);

  transition:
    color 0.2s,
    box-shadow 0.2s;

  border-radius: 0.25em;
  padding: 0.1em 0.2em;
}
a:hover,
a:focus {
  /* color: var(--secondary, #5a4ff3); */
  color: #5a4ff3;
  background-color: var(--accent, #e9ebef);

  box-shadow: 0 2px 8px rgba(90, 79, 243, 0.08);

  outline: none;
  text-decoration: underline;
}
a:active {
  color: var(--destructive, #d4183d);
}

/* <hr> */
hr {
  border: 1px solid var(--line-clr);
}

/* General elementes colors and styles */
body {
  background-color: var(--background);
  color: var(--text-clr);
}

header {
  background-color: rgba(0, 0, 0, 0.3);

  /* Transparente */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
}

main p {
  color: var(--secundary-text-clr);
  margin-bottom: 15px;
  margin-top: 15px;
}

footer {
  background-color: var(--secondary);
  color: var(--primary);

  hr {
    background-color: #5a4ff3;
    color: #5a4ff3;
  }
}

#sidebar {
  background-color: rgba(0, 0, 0, 0.3);

  /* Transparente */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  border-right: 1px solid var(--line-clr);
}

.side-element,
.top-element {
  /* background-color: var(--accent, #e9ebef); */
  background-color: var(--secondary, #e9ebef);
}
