---
import Layout from '@/layouts/Layout.astro';
import AppsList from '@/components/info-loaders/AppsList.astro';
---

<Layout>
  <main>
    <section class="section" id="apps">
      <h2>Apps</h2>
      <AppsList />
    </section>
  </main>
</Layout>
