---
import Layout from '@/layouts/Layout.astro';
import ArtList from '@/components/info-loaders/ArtList.astro';

import '@/styles/pages/art.css';
---

<Layout>
  <main>
    <section class="section" id="art">
      <h2>Arte</h2>
      <ArtList />
    </section>
  </main>
</Layout>
