---
import Layout from '@/layouts/Layout.astro';
import ProjectsList from '@/components/info-loaders/ProjectsList.astro';
---

<Layout>
  <main>
    <section class="section" id="projects">
      <h2>Proyectos Destacados</h2>
      <ProjectsList />
    </section>
  </main>
</Layout>
