<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="../styles/global.css" />
  <title>Content</title>
  <style>
  </style>
</head>

<div class="main-container">
  <div class="container">
    <h2>Hello world</h1>
      <p>Esto es un parrafo de prueba</p>
  </div>

  <!-- <br> -->

  <div class="container">
    <h2>Hello world 2</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, aliquam asperiores. Nihil iusto error
        accusantium earum sapiente? Quod molestiae dolor, repellendus deserunt provident officia, iste dolores atque
        odit, tenetur maxime.</p>
  </div>

</div>

</html>
