<link rel="stylesheet" href="../styles/global.css">

<div class="main-container">
  <div class="container">
    <h2>Hello world</h1>
      <p>Esto es un parrafo de prueba</p>
  </div>
  <div class="container">
    <h2>Hello world 2</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, aliquam asperiores. Nihil iusto error
        accusantium earum sapiente? Quod molestiae dolor, repellendus deserunt provident officia, iste dolores atque
        odit, tenetur maxime.</p>
  </div>
</div>