<link rel="stylesheet" href="../styles/global.css">

<style>
  .footer-content {
    background: black;
    width: 100vw;
    gap: 1rem;
  }

  hr {
    border: 1px solid var(--line-clr);
  }

  .row {
    display: flex;
    padding: 15px;
    gap: 2rem;

    justify-content: center;
    text-align: center;

    >div {
      display: flex;
      gap: 1rem;
    }
  }
</style>

<div class="footer-content">

  <div class="row">
    <div>
      <a href="/about.html">Acerca de</a>
      <a href="mailto:correo@gmail.com">Contacto</a>
      <a href="/privacy.html">Privacidad</a>
    </div>

    <hr>

    <div>
      <a href="https://github.com/" target="_blank">GitHub</a>
      <a href="https://linkedin.com/" target="_blank">LinkedIn</a>
    </div>
  </div>

  <hr>

  <div class="row">
    <span>&copy; 2026 Mi Portafolio. Todos los derechos reservados.</span>
  </div>

</div>
