<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, inicial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="../public/favicon.svg" />
  <link rel="icon" href="../public/favicon.ico" />
  <link rel="stylesheet" href="../styles/class-sidebar.css" />
  <title>Home</title>
</head>

<!-- <body> -->
<nav id="sidebar">
  <ul>
    <li>
      <span class="logo">Logo</span>
      <button id="toggle-btn">
        <img src="../icons/24dp/menu.svg">
      </button>
    </li>

    <li class="active">
      <a href="../index.html">
        <img src="../icons/24dp/home.svg">
        <span>Home</span>
      </a>
    </li>

    <li>
      <a href="../index.html">
        <img src="../icons/24dp/person.svg">
        <span>Profile</span>
      </a>
    </li>

    <li>
      <button class="dropdown-btn">
        <img src="../icons/24dp/add.svg">

        <span>Create</span>

        <img src="../icons/24dp/keyboard_arrow_down.svg">
      </button>

      <ul class="sub-menu">
        <div>
          <li><a href="#">Folder</a></li>
          <li><a href="#">Folder</a></li>
          <li><a href="#">Folder</a></li>
        </div>
      </ul>
    </li>

    </li>
    <a href="../index.html">
      <img src="../icons/24dp/settings.svg">
      <span>Settings</span>
    </a>
    </li>
  </ul>
</nav>

<!-- <main>
    <div class="container">
      <h2>Hello world</h1>
        <p>Esto es un parrafo de prueba</p>
    </div>

    <div class="container">
      <h2>Hello world 2</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, aliquam asperiores. Nihil iusto error
          accusantium earum sapiente? Quod molestiae dolor, repellendus deserunt provident officia, iste dolores atque
          odit, tenetur maxime.</p>
    </div>
  </main> -->
<!-- </body> -->

</html>
