<link rel="stylesheet" href="../styles/global.css">
<link rel="stylesheet" href="../styles/glass-sidebar.css">
<link rel="stylesheet" href="../styles/media.css">
<!-- <link rel="stylesheet" href="../styles/transparente.css"> -->

<script type="text/javascript" src="../src/main.js" defer></script>

<style>
</style>

<nav id="sidebar" class="close">

  <ul>
    <li>
      <span class="logo">Logo</span>
      <button onclick=toggleSidebar() id="toggle-btn">
        <img src="../icons/24dp/keyboard_double_arrow_left.svg">
      </button>
    </li>

    <li class="active">
      <a href="../index.html" target="_parent">
        <img src="../icons/24dp/home.svg">
        <span>Home</span>
      </a>
    </li>

    <li>
      <a href="../index.html" target="_parent">
        <img src="../icons/24dp/person.svg">
        <span>Profile</span>
      </a>
    </li>

    <li>
      <button onclick=toggleSubMenu(this) class="dropdown-btn">
        <img src="../icons/24dp/add.svg">

        <span>Create</span>

        <img src="../icons/24dp/keyboard_arrow_down.svg">
      </button>

      <ul class="sub-menu">
        <div>
          <li><a href="#">Folder</a></li>
          <li><a href="#">Folder</a></li>
          <li><a href="#">Folder</a></li>
        </div>
      </ul>
    </li>

    <li>
      <a href="../index.html" target="_parent">
        <img src="../icons/24dp/settings.svg">
        <span>Settings</span>
      </a>
    </li>

    <li>
      <button onclick=toggleTheme(this) class="dropdown-btn">
        <img src="../icons/24dp/dark_mode.svg">
        <span>Modo claro</span>
      </button>
    </li>
  </ul>

</nav>
