<link rel="stylesheet" href="../styles/global.css">

<style>
  .header-container {
    background: black;
    min-width: 100vw;
    gap: 1rem;

    padding-top: 15px;
    padding-bottom: 15px;
  }

  /* hr {
    border: none;
    border-top: 1px solid var(--line-clr);
    margin: 0.5em 0;
  } */
</style>

<div class="header-container">
  <div class="row center">
    <img src="../public/favicon.svg" width="32" alt="Icono">
    <h1>Portafolio personal</h1>
  </div>

  <hr>

  <div class="row-e center">
    <hr>
    <a href="index.html" target="_parent">Ir a inicio</a>
    <hr>
    <a href="new-page.html" target="_parent">Ir a nueva pagina</a>
    <hr>
    <a href="https://www.google.com" target="_parent">Ir a Google</a>
    <hr>
    <a href="html.html" target="_parent">Ir ejemplo</a>
    <hr>
  </div>

  <hr>
</div>
